MONGODB_URI=mongodb://localhost:27017
DB_NAME=midterm_orders_pipeline_30m_final

COLLECTION_RAW=orders_raw
COLLECTION_VALIDATED=orders_validated
COLLECTION_QUARANTINE=orders_quarantine

BATCH_SIZE=1000
SMALL_FILE_THRESHOLD_MB=200
